*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}
.cart-content{
    display: flex;
    justify-content: center;
}
.icon{
    
    position: absolute;
    right:0;
    top: 50%;
    position: fixed;
    font-size: 30px;
}
.icon a{
    text-decoration: none;
}
.icon i{
    color: rgb(12, 184, 169);
}
.icon sup{
    border-radius: 50%;
    border: 1px solid red;
    background-color: red;
    color: #fff;
    padding: 2px 10px;
}
.table{
    text-align: center;
    margin-top: 5%;
}
.table .btn{
    margin-top: 10px;
    background-color: red !important;
    color: #fff !important;
    margin: 3px;
    border: none;
}
.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15%;
    display: none;
}
.Main p{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
.Main button{
    padding: 30px 50px;
    margin-top: 15px;
    background: teal;
    border: 1px solid transparent;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    


}

